/* fonts 
font-family: 'Chelsea Market',
cursive;

font-family: 'Lato',
sans-serif;

font-family: 'Montserrat',
sans-serif;

font-family: 'Raleway',
sans-serif;

*/


* {
    font-weight: bold;
}


header {
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 50px 50px;
    background-position: center center;
}



/* header - start */

.header {
    min-height: 100vh;
    padding-bottom: 60px;
}

.header-title {
    font-size: 49px;
    font-family: 'Chelsea Market',
        cursive;
    color: red;
    margin-bottom: 30px;
}

.header-title b {
    color: #000000;
}

.navbar {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    margin-bottom: 45px;
    background-color: #ffffff;
}

.navbar-brand {
    color: red !important;
    font-size: 30px !important;
    font-family: 'Chelsea Market',
        cursive;
}

.navbar-brand b {
    font-weight: normal;
    color: #fff;
}

.service-title {
    font-family: 'Montserrat',
        sans-serif;
    color: #000000;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffb600 !important;
}


.service-line {
    width: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

body:hover .service-line {
    border-bottom: 1px solid #ffb600;
}

.service-subtitle {
    font-size: 16px;
    font-family: 'Lato',
        sans-serif;
    line-height: 22px;
    margin-bottom: 30px;
    color: #000000;

}

.textarea {
    width: 600px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    color: rgb(26, 22, 22);
    font-family: 'Raleway',
        sans-serif;

    margin-bottom: 45px;
}



.servicebtn a {
    text-decoration: none !important;
    border: 1px solid red;
    padding: 12px 28px;
    border-radius: 20px;
    transition: 0.3s all;
    color: #ffffff;
    background-color: red;
}

.servicebtn a:hover {
    color: red;
    background-color: #ffffff;
}

.service {
    margin-right: 90px;
}

.res-ul {
    list-style: none;
    padding: 0;
}

.res-title {
    font-family: 'Montserrat',
        sans-serif;
    margin-bottom: 30px;
}

.res-ul li {
    font-family: 'Montserrat',
        sans-serif;
    margin-bottom: 10px;
}

.heart {
    color: red;
}


/* header - end */

/* info - start */

.ul-info {
    padding: 0;
    list-style: none;
}

.info-title {
    font-size: 39px;
    font-family: 'Chelsea Market',
        cursive;
        color: #ffb600;
}

.info-p {
    color: #000;
    font-size: 20px;
    font-family: 'Lato',
        sans-serif;
        margin-bottom: 30px;
        
}


.instagram {
    padding: 12px 28px;
    background-color: #000000;
    border-radius: 20px;
    text-decoration: none;
    color: #ffb600;
}

.instagram:hover {
    text-decoration: none;
    color: #000;
background-color: #ffb600;
}
/* info - end */